const config = {
  development: {
    admins: ['a@b.com'],
    server: {
      port: '3000',
    },
    jwt: {
      secret: 'replaceme',
    },
    mongo: {
      uri: 'mongodb://localhost/inspace',
    },
    ipfs: {
      path: '~/ipfsrepo',
    },
  },
};

// same for now
config.production = config.development;

module.exports = config;
