var config = {
  development: {
    server: {
      port: '3000'
    },
    jwt: {
      secret: 'replaceme'
    },
    mongo: {
      uri: 'mongodb://localhost/inspace'
    }
  }
};

// same for now
config.production = config.development;

module.exports = config;
