const env = process.env.NODE_ENV;

const config = {
  development: {
    server: {
      port: '3000',
    },
    mongo: {
      uri: 'mongodb://localhost/inspace',
    },
    morgan: {
      format: 'combined',
    },
    purchase: {
      // how often to check balances of accounts that are receiving payment
      updateInterval: 5000, // 5 seconds
      // how long a transaction lasts before expiring
      // timeLimit: 12 * 60 * 60 * 1000, // 12 hours
      timeLimit: 5 * 60 * 1000, // 5 minutes
      // account that receives EOS payments
      eosDepositAccount: 'inspace',
      bitcoin: {
        xpubs: ['xpub...'],
        // index into xpubs array, for the xpub used to generate addresses
        currentXpubIndex: 0,
        insightAPI: 'https://insight.bitpay.com/api/',
      },
    },
    eos: {
      host: 'http://127.0.0.1:8888',
      chainID: '...',
      iscoin: {
        // EOS account that has the iscoin token contract
        account: 'iscoin',
        // token details
        code: 'ISC',
        decimalPlaces: 4,
        // EOS account that issues iscoin tokens
        issuer: {
          account: 'iscoinissue',
          privateKey: '...',
        },
      },
    },
  },
};

// same for now
config.production = config.development;

module.exports = config[env];
